body {
  font-family: "Lato", sans-serif;
  }

mark {
  background: rgb(4, 177, 141);
  color: white;
}

#events {
}

.events {
  padding: 48px 0;
}

.events__container {
  display: flex;
  flex-direction: row-reverse;
  /*margin: 0 64px;*/
  flex-wrap: wrap-reverse;
}



.event__container {
  background: white;
  border: solid 2px #eee;
  padding: 16px;
  margin: 16px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  backface-visibility: hidden;
  flex-grow: 1;
  flex-basis: 25%;
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__container:hover {
  text-decoration: none;
  color: inherit;
  border-color: rgb(4, 177, 141);
}

.event__container:focus {
  text-decoration: none;
}

.event__image img {
  width: 100%;
}

.event__open{
  padding: 8px;
  margin: 16px 0 0 0;
  background: rgb(4, 177, 141);
  font-size: 1.5em;
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: white;
  width: 100%;
  display: inline-block;
}

.event__open:hover {
  background: #2c3e50;
  color: white;
  text-decoration: none;
}

.course__container {
  align-items: center;
  border-bottom: solid 2px #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.course__current {
  background: rgb(4, 177, 141);
  border-radius: 100px;
  display: inline-block;
  height: 32px;
  margin-right: 4px;
  width: 32px;
}

.course__open {
  padding: 8px 8px;
  background: #2c3e50;
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.25em;
  white-space: nowrap;
  display: flex;
}

.course__link {
  align-self: center;
}

.course__open:hover {
  background: rgb(4, 177, 141);
  color: white;
  text-decoration: none;
}
.course__title {
  padding: 8px 8px;
  font-size: 1.5em;
  flex-grow: 1;
  color: rgb(4, 177, 141);
}

.course__title--current {
  color: inherit;
}

.course-title {
  font-size: 2.5em;
}

.courses__title,
.events__title {
  color: #2c3e50;
  font-family: "montserrat", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 64px 0;
  text-align: center;
}

.event__date {
  font-size: 1.25em;
  font-family: "Lato", sans-serif;
  padding-top: 16px;
  padding-bottom: 8px;
}

.event__title {
  font-size: 2em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgb(4, 177, 141);
}

.event__place {
  font-size: 1.25em;
  font-family: "Lato", sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}

.courses {
  padding: 0;
  margin-bottom: 64px;
}

.star-light::after {
  border-radius: 100px;
}

.level-container {
  margin-top: 12px;
}

.level {
  color: white;
  padding: 8px 16px;
  background-color: rgb(44,62,80);
  margin-left: 4px;
  text-transform: uppercase;
  border: 2px solid #28bb9c;
}

.level--base {
  background-color: rgb(38, 171, 16);
}

.level--intermedio {
  background-color: rgb(212, 187, 7);
}

.level--avanzato {
  background-color: rgb(230, 95, 53);
}

.course-image {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.course-image .course-title,
.course-image .level-container {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.course-image .level {
  border: 0;
  text-shadow: none;
}

.course-details {
  margin-bottom: 32px;
  margin-top: 96px;
}

.course-detail {
  padding: 0;
  list-style-type: none;
}

.course-detail__icon {
  margin-right: 4px;
}

.course-detail__item {
  margin-bottom: 16px;
}

.course-detail__title {
  display: block;
  font-size: 24px;
  margin-bottom: 0;
}

.course-buy-ticket {
  background-color: rgb(40,187,156);
  color: white;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.course-buy-ticket:hover {
  background-color: #25ad90;
  color: white;
  text-decoration: none;
}

.write-us {
  background-color: rgb(40,187,156);
  color: white;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.write-us:hover {
  background-color: #25ad90;
  color: white;
  text-decoration: none;
}

.course-sold-out {
  background-color: #da3d0b;
  border-radius: 100px;
  color: white;
  display: inline-block;
  padding: 0 16px;
  text-transform: uppercase;
}

.hr {
  border: 0;
  border-top: solid 2px #eee;
  margin: 64px 0;
}

.hr--big {
  border-top: solid 4px rgb(44,62,80);
}

.teacher {
  display: flex;
}

.teacher__avatar  {
  margin-right: 24px;
}

.teacher__name {
  font-size: 24px;
  font-weight: bold;
}

.teacher__image {
  border-radius: 100px;
  height: auto;
  width: 128px;
}

.modal-company-image {
  margin-bottom: 0;
  max-width: 400px;
}
