<section id="chi-siamo">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <img src="{{ relativePath }}img/company/biodec.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <img src="{{ relativePath }}img/company/ideato.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <img src="{{ relativePath }}img/company/kiratech.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <img src="{{ relativePath }}img/company/xpeppers.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Profilo</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/company-header-biodec.jpg" class="img-responsive img-centered" alt="">
                        <p style="text-align:justify">BioDec è stata la prima azienda italiana a occuparsi di bioinformatica, nel 2003. Dal 2010 ha sposato la causa DevOps, come strategia per gestire l’IT in modo più efficace e moderno. BioDec, all’interno di 4DevOps, segue in particolare il tema del monitoraggio e dei managed service. Dal punto di vista tecnico, l’esperienza di BioDec è nell’uso di software libero e di tecnologie come Ansible, Python, Nagios e Check_MK, e stack più recenti come Influxdb, Graphite e Grafana. BioDec è tra gli organizzatori dell’Incontro DevOps Italia, la più grande conferenza nazionale sul tema DevOps.</p>
                        <ul class="list-inline item-details">
                            <li>Website:
                                <strong><a href="http://www.biodec.com" target="_blank">biodec.com</a>
                                </strong>
                            </li>
                            <li>Tel:
                                <strong><a href="tel:+390510548263">+39 051 0548263</a>
                                </strong>
                            </li>
                            <li>Email:
                                <strong><a href="mailto:info@biodec.com">info@biodec.com</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Profilo</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/company-header-kiratech.jpg" class="img-responsive img-centered" alt="">
                        <p style="text-align:justify">Kiratech è uno dei principali rivenditori di tecnologia software, hardware e servizi che opera sul territorio italiano ed europeo. Da più di dieci anni Kiratech seleziona le migliori tecnologie in ambito IT per aiutare le aziende nel loro percorso di trasformazione digitale avvalendosi delle migliori metodologie in ambito Hybrid Cloud, Big Data Analytics, Security e DevOps. La nostra azienda ha intrapreso l’approccio DevOps dal 2012, e dal 2015 siamo il primo Official Docker Partner in Italia. Proponiamo soluzioni per il delivery applicativo, per l’automation, il monitoring e continuous integration and delivery. Siamo attivi nell’organizzazione di eventi community come Meetup ed incontri in ambito DevOps.</p>
                        <ul class="list-inline item-details">
                            <li>Website:
                                <strong><a href="http://www.kiratech.it" target="_blank">kiratech.it</a>
                                </strong>
                            </li>
                            <li>Tel:
                                <strong><a href="tel:+390458347852">+39 045 8347852</a>
                                </strong>
                            </li>
                            <li>Email:
                                <strong><a href="mailto:info@kiratech.it">info@kiratech.it</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Profilo</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/company-header-xpeppers.jpg" class="img-responsive img-centered" alt="">
                        <p style="text-align:justify">XPeppers è un’azienda di sviluppo software con focus su Agile, DevOps e Cloud. Il DevOps non è solo tools, è cambiamento metodologico, come azienda siamo in grado di guidare l’adozione di cultura e pratiche DevOps il cui obiettivo ultimo è rispondere velocemente ai cambiamenti del mercato. Facciamo formazione tramite corsi pubblici e onsite, confezionandoli in base all’esigenza del cliente.</p>
                        <ul class="list-inline item-details">
                            <li>Website:
                                <strong><a href="http://www.xpeppers.com" target="_blank">xpeppers.com</a>
                                </strong>
                            </li>
                            <li>Tel:
                                <strong><a href="tel:+390292852250">+39 02 92852250</a>
                                </strong>
                            </li>
                            <li>Email:
                                <strong><a href="mailto:info@xpeppers.com">info@xpeppers.com</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Profilo</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/company-header-ideato.png" class="img-responsive img-centered" alt="">
                        <p style="text-align:justify"> Ideato è una azienda focalizzata nel realizzare, rifattorizzare, e far scalare piattaforme software per il web. Realizziamo e gestiamo infrastrutture Cloud garantendone affidabilità e sicurezza. Flessibili nelle metodologie crediamo che il valore vada consegnato continuamente in tutte le fasi del progetto, aiutando i clienti in attività di discovery, proof of concept e implementazione anche di infrastrutture cloud particolarmente articolate. Siamo attivi nell’organizzazione di eventi community e incontri in molti ambiti dell'IT.</p>
                        <ul class="list-inline item-details">
                            <li>Website:
                                <strong><a href="http://www.ideato.it" target="_blank">ideato.it</a>
                                </strong>
                            </li>
                            <li>Tel:
                                <strong><a href="tel:+390458347852">+39 0547 480114</a>
                                </strong>
                            </li>
                            <li>Email:
                                <strong><a href="mailto:info@kiratech.it">info@ideato.it</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
