<section id="contatti" class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contattaci</h2>
        <p>Per qualsiasi info contattaci via email.</p>
        <div>
          <a class="write-us" href="mailto:{{ metadata.site.email }}">
            Scrivici
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
