<section class="courses" id="courses">
  <div class="courses__container">
    <div class="courses__title">I NOSTRI CORSI</div>

    <div class="course__container">
      <div class="course__title">DevOps e continuos integration</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">DevOps engeneering on AWS</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Sviluppo di microservizi su AWS</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">DevOps avanzato</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Ansible</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Monitoring and modeling of distributed systems</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Docker premium</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Docker master</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Docker start-up</div>
      <a href="#" class="course__open">Scopri di più</a>
    </div>

    <div class="course__container">
      <div class="course__title">Progettare e far evolvere strutture in AWS</div>
      <a href="course-1.html" class="course__open">Scopri di più</a>
    </div>

  </div>
</section>
