<header>
    <div class="container">
        <div class="row" style="">
            <div class="col-lg-12">
                <img class="img-responsive logo" src="img/logo.png" alt="">
                <div class="intro-text">
                    <!-- <span class="name"></span> -->
                    <hr class="star-light">
                    <span class="skills">Una soluzione DevOps ai problemi della tua azienda</span>
                </div>
            </div>
        </div>
    </div>
</header>
