{% for event in metadata.events.list %}
  {% if loop.last %}
    <section class="success" id="in-evidenza">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>In evidenza</h2>
            <hr class="star-light">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            {% if  event.title is defined %}
              <h3>
                {{ event.title }}
              </h3>
            {% endif %}
            {% if  event.date is defined %}
              <p><strong>{{ event.date|date('Y M d') }}</strong></p>
            {% endif %}
            {% if  event.description is defined %}
              <p>{{ event.description }}</p>
            {% endif %}
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
            {% if  event.link is defined %}
            <a href="http://www.incontrodevops.it/events/idi2017/#registration_hook" class="btn btn-lg btn-outline" target="_blank">
              <i class="fa fa-link"></i>
              Vai al link dell'evento
            </a>
            {% endif %}
          </div>

        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}
