<section class="success" id="offerta">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Offerta</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>4DevOps intende offrire alle aziende un <b>metodo</b>, le <b>tecnologie</b> e <b>l’esperienza</b> per intraprendere un processo di adeguamento del proprio IT. L’obiettivo delle aziende che compongono 4DevOps è di <b>creare valore</b> per i propri clienti, aiutandoli ad adottare i principi e le tecniche DevOps.</p>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Scarica offerta
                </a>
            </div> -->
        </div>
    </div>
</section>
