<section class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center ">
        <h2>Chi siamo</h2>
        <hr class="star-light">
      </div>
      <div class="row">

        <div class="col-lg-8 col-lg-offset-2 text-center">
          <p>4DevOps è un'alleanza di quattro aziende che operano sul territorio italiano ed europeo: abbiamo un'esperienza ormai
            <b>pluriennale</b>
            nel trattare i temi dell'IT, e abbiamo deciso di unire la nostra proposta commerciale DevOps
            <b>per meglio servire i nostri clienti</b>.</p>
        </div>
      </div>

    </div>
  </div>
</section>
