<!DOCTYPE html>
<html lang="en">

{% set uid = [] %}
{% for i in 1..16 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set uid = uid|merge([randomCharacter]) %}
{% endfor %}
{% set uid = ('?v=' ~ uid|join) %}

{% include './_head.twig' %}

<body id="page-top" class="index">

    {% include './_navbar.twig' %}
    {% include './_header.twig' %}
    {% include './_offer.twig' %}
    {% include './_events.twig' %}
    {% include './_courses.twig' %}
    {% include './_who-we-are.twig' %}
    {% include './_about.twig' %}
    {% include './_highlight.twig' %}
    {% include './_contacts.twig' %}
    {% include './_footer.twig' %}
    {% include './_scripts.twig' %}
</body>

</html>
