<!DOCTYPE html>
<html lang="en">

{% include './_head.twig' %}

<body id="page-top" class="index">

    {% include './_navbar.twig' %}
    {% include './_header.twig' %}
    {% include './_offer.twig' %}
    {% include './_events.twig' %}
    {% include './_courses.twig' %}
    {% include './_who-we-are.twig' %}
    {% include './_about.twig' %}
    {% include './_highlight.twig' %}
    {% include './_contacts.twig' %}
    {% include './_footer.twig' %}
    {% include './_scripts.twig' %}
</body>

</html>
